<div class="container top-offset">
      <div class="breadcrumbs p-2">
        <div class="ins-product-wrap d-flex flex-column p10">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Insurance Info</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="car-ins-wrap p-2">
        <div class="ins-title">
          <h2 class="fs20 fw-bold mb10">Seguro de carro Toyota Land Cruiser</h2>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <%= image_tag 'toyota.png' %>
          </div>
          <div class="col-xs-12 col-sm-8">
            <div class="ins-decr">
              <p class="ins-p">Você tem dúvidas sobre como segurar umToyota Land Cruiser?Nós temos as respostas.
                Aqui temos algumas informações que vocêpode precisar sobre as taxas de seguro decarro Toyota Land Cruiser,
                coberturas desegurança que poderiam poupar dinheiro,descontos que ajudam sua poupança ecobertura que dá paz.</p>
              <div class="ins-info-buttons mt10">
                <a target="_blank" href="/planos-celular/claro-controle/go_to_site" class="btn btn-md tr-btn tr-btn--primary">simular seguro do carro</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="info-wrap p-2">
        <div class="ins-info d-flex flex-row">
          <div class="section-ins-info p-2 mb10 pb10">
            <h3 class="mb10 pt10">QUANTO  CUSTA O SEGURO DE CARRODA TOYOTA LAND CRUISER?</h3>
            <h4 class="pt10">ENCONTRE A COBERTURA QUE VOCÊ PRECISA</h4>
            <p class="ins-p">Você é único. Seu seguro deve ser também. Oseguro de carro certo para você depende dacobertura que
              você precisa e do valor mensalque melhor se adequar ao seu orçamento.</p>
            <h4 class="pt10">AVALIAR DESCONTOS</h4>
            <p class="ins-p">Tem descontos nos seguro de carro para você.Simplesmente ser um estudante, um bommotorista, ou ter várias apólices de segurocontratadas pode poupar dinheiro em seguro.Você pode economizar dinheiro escolhendorecursos de segurança que ajudam a protegervocê e seu carro. Para ver os descontos quevocê pode qualificar para, você pode usar nossosite para solicitar uma cotação de seguro do seu.</p>
          </div>
          <div class="section-ins-info p-2 mb10 pb10">
            <h3 class="mb10 pt10">COMO POSSO POUPAR DINHEIRO NOSEGURO DE CARRO DA TOYOTA LANDCRUISER?</h3>
            <p class="ins-p">Queremos ajudá-lo a economizar no seuseguro de carro. Tem descontos disponíveisno seguro do Toyota
              Land Cruiser. Para verquais descontos de seguro de carro vocêqualifica</p>
            <div class="ins-info-buttons mt10">
              <a target="_blank" href="/planos-celular/claro-controle/go_to_site" class="btn btn-md tr-btn tr-btn--primary">confira aqui</a>
              <a target="_blank" href="/planos-celular/claro-controle/go_to_site" class="btn btn-md tr-btn tr-btn--primary">simular seguro do carro</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




<script>

</script>