 <div class="ribbon-right">
  <span>
    <div class="corner-ribbon top-left sticky red shadow">Popular</div>
  </span>
</div>
<div class="ribbon-left">
  <span>
    <div class="corner-ribbon top-left sticky red shadow">Promoçao</div>
  </span>
</div>
