<div class='wpp_mobile btn btn-success wpp_desktop'>
  <a href="whatsapp://send?text=<%= (wizard_url('auxiliador-financeiro'))%>?utm_source=whatsapp" target="_blank" class='btn-block fa fa-whatsapp button-wpp'
    data-ga-event-category="whatsapp" data-ga-event-action="clickout" data-ga-event-label="whatsapp">Compartilhar no Whatsapp</a>
</div>
