<div class="container">
    <br />
    <div align="center"><h1><strong>Perguntas Frequentes</strong></h1></div>
    <br />
    <br />
    <div class="panel-group" id="accordion">
        <div class="faqHeader"><strong>Cartões de Crédito</strong></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Consultar o status da proposta de cartão </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    Ao finalizar o preenchimento de seus dados em nosso site, encaminhamos ao banco que ficará responsável pela analise de sua proposta. Voce tambem pode entrar em contato com o banco por meio de suas centrais de atendimento
                    <br>
                    <br>
                    <b>Bradesco:</b><br>
                    4004-8288 (Capitais e Regiões Metropolitanas)
                    0800-723-8288 (Demais Localidades)
                    Atendimento: diariamente, das 8h às 22h.
                    <br><br>
                    <b>BradesCard:</b><br>
                    4004-7332 (Capitais e Regiões Metropolitanas)
                    0800-701-7332 (Demais Localidades)
                    0800-721-1506 (SAC)
                    Atendimento: diariamente, das 8h às 22h.
                    <br><br>
                    <b>Banco PAN:</b><br>
                    4003-0101 (Capitais e Regiões Metropolitanas - escolher opção 6)
                    0800-888-0101 (Demais Localidades - escolher opção 6)
                    Atendimento: segunda a sábado, das 8h às 22h.
                    0800-776-2200 (Deficiente Auditivo e de fala)
                    Atendimento: segunda a domingo, 24 horas.
                    0800-776-8000 (SAC)
                    <br><br>
                    <strong>Banco Santander:</strong><br>
                    Ligue para a Central de Atendimento Santander.
                    Capitais e Regiões Metropolitanas:
                    4004-3535
                    Demais localidades:
                    0800 702 3535
                    0800 723 5007 (Atendimento a clientes deficientes auditivos e de fala).
                    <br><br>
                    <b>Banco Itau:</b><br>
                    Telefones<br>

                    <b>Clientes Itaucard</b><br>
                    3003 3030<br>
                    0800 720 3030<br>
                    <storng>Clientes Itaú Múltiplo</strong><br>
                    4004 4828<br>
                    0800 970 4828<br>

                    <b>Clientes no exterior(ligação a cobrar)</b><br>
                    55 11 2155 4828<br>

                    <b>Clientes Black e Infinite no exterior (ligação a cobrar)</b><br>
                    55 11 2322 4828<br>

                    <b>Cartões Empresariais (Business, BNDES, Corporate, Hipercard Empresarial e Ipiranga Frota):</b><br>
                    3003 0030<br>
                    0800 720 0030<br>

                    <b>Itaú Corporate Grandes Contas:</b><br>
                    4001 4868<br>
                    0800 724 4868
                    <br><br>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Como saber se minha proposta foi aprovada?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    O banco entrará em contato por telefone ou e-mail para falar sobre sua proposta, caso seja aprovado o cartão será enviado diretamente a sua residência.


                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">É preciso pagar para utilizar as ferramentas da triunfei?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    Não. Todas nossas ferramentas de busca são totalmente grátis.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Minha proposta de cartão não consta no banco e agora?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    Caso a proposta de cartão de crédito não conste no banco emissor em 5 dias úteis após o preenchimento, faça novamente uma <strong>solicitação do cartão de crédito</strong> e certifique-se de que recebeu a mensagem de solicitação finalizada.
                </div>
            </div>
            </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">É necessário cadastro para utilizar a triunfei.com?
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    Não é necessário nenhum cadastro.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">É preciso ter conta no banco emissor do cartão?</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                   Geralmente não é. Mas dependendo do banco pode ser necessário ter conta.
                </div>
            </div>
        </div>
   <div class="faqHeader"><strong>Contas Correntes</strong></div>
     <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">É Quais são os benefícios de abrir uma conta pela internet?</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                    Você não precisa ir até uma agência e pode abrir a sua conta de forma segura de qualquer lugar e a qualquer hora do dia.
Além disso, os seus dados ficam salvos, podendo interromper o processo e continuar em outro momento, de onde parou.
                </div>
            </div>
        </div>
             <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Qual a diferença de uma conta aberta na agência e na internet?</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
Não há diferença entre uma conta corrente aberta em uma agência e a conta aberta pela internet.
                </div>
            </div>
        </div>
      <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">É aceito que tipo de comprovante de renda para abrir conta corrente?</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                    Os documentos aceitos para comprovação da renda são relacionados ao tipo de atividade econômica exercida pelo proponente à abertura da Conta, podendo ser um contracheque emitido pelo empregador, extrato de conta vinculada no FGTS, a Carteira de Trabalho atualizada ou carnê de INSS com recolhimento em dia, entre outros.​
                </div>
            </div>
        </div>
            <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Posso solicitar a abertura com restrição no nome?</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                    A abertura da conta corrente está condicionada à análise de risco e à confirmação da situação cadastral REGULAR do CPF dos titulares e representantes legais, se for o caso.
                </div>
            </div>
        </div>
           <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
​​​Consigo abrir uma conta corrente sem comprovante de renda?</a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                    Para abrir uma Conta Corrente é obrigatória a apresentação de comprovante de renda formal ou é realizada a análise de renda informal, sendo obedecido, para tanto, o limite de isenção do Imposto de Renda Pessoa Física, definido pela Receita Federal do Brasil.
                </div>
            </div>
        </div>
        <div class="faqHeader"><strong>Empréstimos</strong></div>
     <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">É Tenho restrições em meu nome, posso fazer um empréstimo?</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
                   Dependendo da instituição financeira, sim.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">É Eu posso fazer um empréstimo pessoal se não tiver comprovante de renda?</a>
                </h4>
            </div>
            <div id="collapseTwelve" class="panel-collapse collapse">
                <div class="panel-body">
                   Não. Para a realização de um contrato de Empréstimo Pessoal, é necessário a comprovação de renda.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
         <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen">Em quanto tempo o dinheiro estará disponível?</a>
                </h4>
            </div>
            <div id="collapseFifteen" class="panel-collapse collapse">
                <div class="panel-body">
                  Dependendo da instituição escolhida, o valor será creditado em até 24 horas úteis após a aprovação da operação, exceto para propostas analisadas na sexta-feira e/ou sábado.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">É Meu CPF está suspenso, cancelado ou pendente de regularização. Posso fazer um empréstimo??</a>
                </h4>
            </div>
            <div id="collapseThirteen" class="panel-collapse collapse">
                <div class="panel-body">
                   Não. Para a realização de um contrato de Empréstimo Pessoal, é necessário que a situação cadastral do seu CPF esteja regularizada.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">É Qual o prazo de aprovação da proposta?</a>
                </h4>
            </div>
            <div id="collapseFourteen" class="panel-collapse collapse">
                <div class="panel-body">
                   Varia de acordo com a instituição financeira, podendo ser na hora ou em uma semana.
                </div>
            </div>
        </div>
        <div class="faqHeader"><b>Sobre nós</b></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"> Quem é a Triunfei.com?</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    Triunfei.com é uma empresa que seleciona as melhores opções de produtos e serviços financeiros (tais como Contas Corrente, Cartões de Crédito e  Empréstimos)para você, dentro das suas necessidades.

                    Como cada produto tem vantagens diferentes, criamos um sistema onde em menos de 2 minutos você identifica qual o melhor serviço para você.

                    O nosso serviço de comparação torna fácil olhar para produtos e preços e nós nos esforçamos para dar as informações para ajudar a decidir o que é certo para suas necessidades.

                    Gostamos de pensar que fazemos as coisas de maneira diferente. Somos o primeiro site de comparação concentrado em mostrar características do produto, os preços, e colocamos no centro de tudo o que fazemos as suas necessidades.

                    Seja bem vindo a Triunfei.
                   <br><br><b><a href="http://www.triunfei.com">Triunfei.com</a></b>
                </div>
            </div>
            </div>
    </div>
</div>
